.product-available {
    display: inline-flex;
    align-items: center;
    margin: 0 20px 0 0;
    font-family: 'Inter', 'SF Pro Display', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: $color-secondary;

    &-icon { margin: 0 6px 0 0; }
}
.product-available._not-available {
    color: rgba($color-primay, 0.5);
}