.merch-header {
    margin: 0 0 60px;
    &-ttl {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.4;
        color: $color-primay;
    }

    &-art {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        color: rgba($color-primay, .4);

        span {
            font-weight: 700;
            color: $color-secondary;
        }
    }
}

@media (min-width: 768px) {
    .merch-header-art { margin-top: 2px; }
}
