.checkout {
    &-row {
        margin-top: 32px;
        margin-bottom: 56px;
    }

    &-ttl {
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: #9EA0A1;
        margin-top: 25px;
    }

    &-input {
        label {
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: #9EA0A1;
            margin-bottom: 4px;
        }

        .form-control {
            background: #F2F5F7;
            border: 1px solid #EAEDF2;
            border-radius: 8px;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #1A232B;
            padding: 16px;
            height: 48px;
        }

        &--phone {
            .country-selector,
            .country-selector__input,
            .input-tel__input {
                height: 48px !important;
                background: #F2F5F7 !important;
                border-radius: 8px !important;
                border: none !important;
            }

            .vue-phone-number-input .select-country-container {
                width: 68px;
                min-width: 68px;
                flex: 0 0 100px !important;
                width: 100px !important;
                min-width: 100px !important;
                max-width: 100px !important;
                margin-right: 10px;
            }

            .input-tel__input {
                border-top-left-radius: 8px !important;
                border-bottom-left-radius: 8px !important;

                &::placeholder {
                    color: #1A232B;
                }
            }

            .country-selector__toggle__arrow {
                color: #257BF4 !important;
                transform: scale(0.8);

                path.arrow {
                    fill: #257BF4 !important;
                }
            }

            .country-selector__country-flag {
                top: 25px !important;
            }
        }
    }

    &-select {
        label {
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: #9EA0A1;
            margin-bottom: 4px;
        }

        .custom-select {
            background: #F2F5F7;
            border: 1px solid #EAEDF2;
            border-radius: 8px;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #1A232B;
            padding: 16px;
            height: 48px;
        }
    }

    &-select {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            bottom: 16px;
            right: 16px;
            background: url('./../svg/arrow-right.svg') no-repeat 50% 50%;
            transform: rotate(90deg);
            pointer-events: none;
        }
    }

    &-checkbox {
        margin-top: 90px;
    }

    &-btns {
        margin-top: 30px;
        margin-bottom: 80px;

        .btn-primary {
            margin-right: 15px;
            min-width: 200px;
        }

        .btn-outline-primary {
            min-width: 200px;
        }
    }
}