.filter {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;

   &-header {
       font-weight: 600;
       font-size: 18px;
       line-height: 20px;
       margin-bottom: 20px;
   }

   &-inner {
       padding-bottom: 20px;
   }

   &-range {
       display: flex;
       justify-content: space-between;
   }

   .custom-control + .custom-control {
       margin-top: 5px;
   }

   .custom-control-label {
       font-size: 14px;
       color: #1A232B;
       opacity: 0.6;
   }
}