@mixin globalWrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding:  0 20px;
}
$basic-bg-color: #fcc000;

@mixin content-padding($media) {
  padding: 0 $content-padding-m;
  @media ($media) {
      padding-left: $content-padding;
  }
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
  xxl: 1320px
);


$content-padding: 20px;
$content-padding-m: 10px;

$color-primay: #0D1115;
$color-secondary: #257BF4;
