@import '../font/SF/stylesheet.css';

html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  // text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-smooth: auto;
  // line-height: 1.4rem;
  font-weight: 500;
  font-family: 'SF Pro Display', sans-serif;
}

p {
  margin: .4em 0;
  padding: 0;
}

.btn {
  background-color: $color-secondary;
  border-radius: 8px;
  color: white;
}
.nav {
  &-link {
    font-size: 14px;
    color: #E0ECFD;
  }
}
.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  &-ttl {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    color: $color-primay;
  }

  &-href {
    color: $color-secondary;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;  }
}

@import 'header';
@import 'product';
@import 'filter';