.filter {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding-bottom: 20px;

   &-header {
       font-weight: 600;
       font-size: 18px;
       line-height: 20px;
       display: flex;
       justify-content: space-between;
       align-items: center;

       &.collapsed {
           .filter-header-ico {
            transform: scale(-1, -1);
           }
       }

       &-ico {
        transition: transform 0.4s;
        width: 12px;
        height: 7.5px;
       }
   }

   &-inner {
       padding: 20px 0 0;

       &-header {
           font-weight: 500;
           font-size: 14px;
           line-height: 20px;
           color: #257BF4;
           text-decoration: underline;
           margin-top: 50px;

           &.not-collapsed {
               opacity: 0;
               pointer-events: none;
               transition: all 0.4s;
               margin-top: 0;
           }
       }

       &-ico {
           transform: rotate(90deg) translateX(-1px);
           margin-left: 5px;
           margin-top: 1px;
       }
   }

   &-range {
       display: flex;
       justify-content: space-between;
       padding: 16px 0 0;
       &-from,
       &-to {
           font-weight: 700;
           font-size: 14px;
           line-height: 24px;
           color: #0D1115;

           span {
                color: #1A232B;
                opacity: 0.6;
           }
       }
   }

   .custom-control + .custom-control {
       margin-top: 5px;
   }

   .custom-control-label {
       font-size: 14px;
       color: #1A232B;
       opacity: 0.6;
   }
}
