.footer{
	padding-top: 64px;
	background-color: #0D1115;

	@media (max-width: 768px) {
		padding-top: 40px;
	}
	
	&-logo{
		font-family: 'SF Pro Display';
		font-weight: 900;
		font-size: 24px;
		font-style: italic;
		color: #257BF4;
		line-height: 20px;
		text-transform: uppercase;

		@media (max-width: 768px) {
			margin-bottom: 30px;
			display: inline-block;
		}
	}

	&-ttl {
		font-weight: 500;
		font-size: 13px;
		line-height: 16px;
		text-transform: uppercase;
		color: #EAEEF2;
		opacity: 0.6;
		margin-bottom: 16px;
	}

	&-list {
		padding-left: 0;
		height: 92px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		@media (max-width: 768px) {
			height: auto;
		}
	}

	&-item {
		list-style: none;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;

		a {
			color: white;
		}
	}

	&-contacts {
		&-txt {
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 10px;
			color: white;

			&._dot {
				margin-right: 20px;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					right: -12px;
					width: 2px;
					height: 2px;
					background: #EAEEF2;
					opacity: 0.8;
					border-radius: 50%;
					top: 10px;
				}
			}

			&:hover { color: white; }
		}

		&-subscribe {
			display: flex;
			margin-top: 20px;

			.btn-call-me { white-space: nowrap; }

			@media (max-width: 768px) {
				margin-bottom: 40px;
			}

            .form-control {
                background-color: rgba(193, 217, 252, 0.08);
                border: 1px solid rgba(234, 238, 242, 0.12);
                border-radius: 8px;
                color: white;
                height: 40px;
                margin-right: 12px;
                max-width: 260px;
            }

			.btn {
				@media (max-width: 768px) {
					min-width: 129px;
				}
			}
		}
	}

	&-info {
		margin: 24px 0;
		display: flex;
		justify-content: space-between;

		@media (max-width: 768px) {
			align-items: center;
		}

		&-left {
			img + img {
				margin-left: 9px;
			}
		}

		&-right {
			display: flex;
		}

		&-link {
			background: #1A232B;
			width: 32px;
			height: 32px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			transition: opacity 0.4s;

			&:hover {
				opacity: 0.6;
			}

			& + & {
				margin-left: 8px;
			}
		}
	}

	&-hr {
		width: 100%;
		height: 1px;
		background:#1A232B;
	}

	&-copyright {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 0;

		&-txt {
			padding-right: 48px;

			@media (max-width: 768px) {
				padding-right: 0;
				order: 1;
				margin-top: 15px;
			}
		}
		
		&-info {
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: #EAEEF2;
			opacity: 0.5;

			@media (max-width: 768px) {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

			a {
				color: #EAEEF2;
				position: relative;
			}
		}

		&-dot {
			margin-right: 20px;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				right: -10px;
				width: 2px;
				height: 2px;
				background: #EAEEF2;
				opacity: 0.8;
				border-radius: 50%;
				top: 8px;
			}
		}
	}
}