.header {
    background: linear-gradient(271.4deg, #0D1115 1.93%, #15262F 100%);
    padding: 20px 0;

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-inner--search { margin: 0 20px 0 auto; }
        .header-inner--logo { margin: 0 24px 0 0; }
    }

    &-cart {
        display: flex;

        @media (max-width: 768px) {
            justify-content: flex-end;
        }

        .input-group {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 16px;
                width: 24px;
                height: 24px;
                background: url('./../svg/search.svg') no-repeat 50% 50%;
                top: 10px;
            }
        }

        .form-control {
            background-color: rgba(193, 217, 252, 0.08);
            border: 1px solid rgba(234, 238, 242, 0.12);
            border-radius: 8px;
            color: white;
            height: 40px;
            padding-left: 44px;
            margin-right: 20px;
            min-width: 260px;

            @media (max-width: 768px) {
                min-width: auto;
            }
        }

        &-wrap {
            position: relative;

            .btn {
                min-width: 117px;
                height: 40px;

                @media (max-width: 768px) {
                    min-width: 40px;
                    max-width: 40px;
                    padding-left: 0;
                    padding-right: 0;
                }

                svg { display: inline-block; }

                span {
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }

        &-count {
            position: absolute;
            font-size: 10px;
            font-weight: 700;
            color: white;
            z-index: 10;
            border: 1px solid white;
            background-color: #EB5757;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            right: -8px;
            top: -15px;
        }
    }

    &-sidebar {
        &-btn {
            background: none;
            position: relative;
            border: 0;
            margin-left: 10px;
            width: 28px;
            padding-left: 0;
            padding-right: 0;

            span {
                background: #FFFFFF;
                border-radius: 500px;
                width: 20px;
                height: 2px;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 4px;
            }

            &::before {
                content: '';
                position: absolute;
                background: #FFFFFF;
                border-radius: 500px;
                width: 20px;
                height: 2px;
                top: 12px;
                left: 4px;
            }

            &::after {
                content: '';
                position: absolute;
                background: #FFFFFF;
                border-radius: 500px;
                width: 20px;
                height: 2px;
                bottom: 10px;
                left: 4px;
            }
        }
    }
}

.b-sidebar {
    @media (max-width: 768px) {
        background: linear-gradient(271.4deg, #0D1115 1.93%, #15262F 100%);
    }

    .close { color: white !important; }
}
