.hero {
    &-main {
        background: url('./../png/hero.png') no-repeat 50% 50%;
        height: 580px;

        @media (max-width: 768px) {
            height: 660px;
            background: url('./../png/hero-screen-mob.png') no-repeat 50% 50%;
            background-color: #10181e;
        }

        &-wrapper {
            .slick-slide {
                z-index: -1;
            }

            .slick-slide.slick-current {
                z-index: 1;
            }
        }
    }

    &-head {
        font-weight: 700;
        color: white;
        font-size: 56px;
        text-transform: uppercase;
        line-height: 60px;

        @media (max-width: 768px) {
            font-size: 40px;
            line-height: 100%;
        }
    }
    &-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 50px;

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        span {
            color: white;
        }
    }

    &-btns {
        .btn {
            margin-right: 20px;
            min-width: 140px;
        }
    }

    &-wrap {
        display: flex;
        align-items: center;
        height: 580px;

        @media (max-width: 768px) {
            align-items: flex-end;
            height: 625px;
        }
    }

    &-date {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #9EA0A1;
        opacity: 0.8;
    }

    &-badge {
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 6px 8px;
        border: 1px solid #257BF4;
        border-radius: 8px;
        background: #257BF4;
        color: white;
        display: inline-block;
    }
}