.market {
    &-wrapper {
        padding: 30px 0 60px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        border-radius: 16px;
        background: #052230;
        padding: 16px 0 32px;

        &._econom {
            background-image: radial-gradient(ellipse at 50% -100%, rgba(255,187,73,0.85) 3%, rgba(255,187,73,0.11) 46%, rgba(255,187,73,0) 59%);
        }

        &._brand {
            background-image: radial-gradient(ellipse at 50% -100%, rgba(0,126,167,0.89) 3%, rgba(0,126,167,0.11) 48%, rgba(0,126,167,0) 59%);
        }

        &._save {
            background-image: radial-gradient(ellipse at 50% -100%, rgba(253,71,26,0.86) 3%, rgba(253,71,26,0.17) 46%, rgba(253,71,26,0) 59%);
        }

        &-ttl {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.2;
            text-transform: uppercase;
            color: white;
            text-align: center;
            margin-bottom: 10px;
        }
        &-image {
            margin: 0 0 14px;
            width: auto;
            height: 54px;
        }
        &-txt {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            font-weight: 400px;
            letter-spacing: -0.015em;
            color: white;
            opacity: 0.8;
            padding: 0 30px;
        }
    }
}

.market {
    &-subscribe {
        margin-bottom: 140px;
        width: 100%;
        height: 360px;
        background: url('./../png/subscribe.png') no-repeat 50% 50%;
        border-radius: 16px;
        position: relative;

        @media (max-width: 768px) {
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 100px;
            height: auto;
            border-radius: 16px;
            background-size: cover;
        }

        &::after {
            content: '';
            position: absolute;
            width: 148px;
            height: 96px;
            background: url('./../png/savecircle.png') no-repeat 50% 50%;
            right: -48px;
            top: -23px;

            @media (max-width: 768px) {
                content: none;
            }
        } 

        &-ttl {
            font-size: 32px;
            line-height: 38px;
            font-weight: 700;
            color: white;
            text-align: center;
            padding-top: 100px;
            margin-bottom: 16px;
            text-transform: uppercase;
        }

        &-txt {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.8;
            margin-bottom: 32px;
        }

        &-group {
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .form-control {
                background-color: rgba(193, 217, 252, 0.08);
                border: 1px solid rgba(234, 238, 242, 0.12);
                border-radius: 8px;
                color: white;
                height: 40px;
                margin-right: 12px;
                max-width: 260px;

                @media (max-width: 768px) {
                    margin-right: 0;
                    margin-bottom: 16px;
                    max-width: 100%;
                }
            }
        }
    }
}

@media (min-width: 992px) { 
    .market-wrapper {
        padding: 60px 0 80px;
    }
    .market-item-ttl {
        font-size: 26px;
    }
    .market-item-image {
        height: 64px;
    }
 }