/* Desktop Nav */
%active-nav-link {
    @media screen and (min-width: 768px) {
        color: $color-secondary;
        .navigation-link-icon svg {
            fill: $color-secondary;
        }
    }
}

.navigation {
    @media screen and (min-width: 768px) {
        flex: 1 0 auto;
    }
    .navigation-list {}

    .navigation-item {
        &:hover {
            @media screen and (min-width: 768px) {
                .navigation-dropdown {
                    display: block;
                }
            }
        }

        &.active {
            .navigation-link {
                @extend %active-nav-link;
            }
        }
    }
    .navigation-item-arrow {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .navigation-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.4;

        &:hover {
            @extend %active-nav-link;
        }

        @media screen and (min-width: 768px) {
            padding: 8px 10px;
        }
    }
    .navigation-link-icon {
        display: none;
        margin: -1px 10px 0 0;
        order: -1;

        @media screen and (min-width: 768px) {
            display: inline-block;
        }
    }
}

.navigation-dropdown {
    position: absolute;
    left: -100vw;
    width: 100%;
    z-index: 100;
    height: 100%;
    height: 522px;
    overflow-y: scroll;
    top: 75px;
    background: #fff;

    @media screen and (min-width: 768px ) {
        display: none;
        left: 0;
    }

    .navigation-dropdown-inner {
        height: 100%;
    }
    .navigation-dropdown-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1040px;
        margin: 0 auto;
        padding: 100px 0;
        list-style: none;
    }
    .navigation-dropdown-link {
        display: inline-block;
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        color: #14181C;
        text-decoration: none;
        display: flex;
        justify-content: space-between;

        &:hover { text-decoration: underline; }
    }

    .navigation-dropdown-sublist {
        list-style: none;
        margin: 0;
        padding: 0;

            a {
                font-size: 16px;
                line-height: 1.4;
                font-weight: 600;
                color: $color-primay;

                @media screen and (min-width: 768px) {
                    margin: 0 0 6px;
                    padding: 0;
                    font-size: 14px;
                    line-height: 1.4;
                    color: #8A8A8A;
             }
        }

    }
    .navigation-dropdown-list-item {
      position: static;
      flex: 30%;
    }
    .navigation-dropdown-back {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .navigation-dropdown-back {
        padding-left: 15px;
        font-size: 14px;
        line-height: 1.6;
        font-weight: 600;
        color: #14181C;

        .navigation-item-arrow {
            padding-right: 5px;
            margin-bottom: 10px;
            display: inline-block;

            svg {
                transform: scale(-1, -1);
            }
        }
    }
}
/* EO Desktop Nav */

/* Mobile Nav */
.header-inner {
    .b-sidebar-header,
    .b-sidebar-body {
        background: #fff;
    }
    .b-sidebar-body {
        position: relative;
    }
    .close {
        fill: $color-primay;
        color: $color-primay !important;
    }

    .b-sidebar {
        @media screen and (max-width: 768px) {
            width: 100vw;
            overflow-x: hidden;
        }
    }
}
.header-sidebar {
    background: #fff;
    .navigation {
        .navigation-dropdown {
            top: 0;
            left: -100%;
            transition: left 0.5s;

            &.active {
                display: block;
                left: 0;
            }
        }
        .navigation-dropdown-list {
            display: block;
            padding: 0;
        }
        .navigation-link {
            font-size: 16px;
            font-weight: 600;
            color: $color-primay;

            &.has-sub {
                color: #257BF4;
            }

            @media screen and (max-width: 768px) {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
            }
        }
        .navigation-dropdown-anchestor {
            position: absolute;
            top: 0;
            left: -100vw;
            height: 100%;
            width: 100%;
            background: #fff;
            transition: left 0.5s;

            &.active { left: 0; }
        }
        .navigation-dropdown-sublist {}
    }
}

.nav-link-ttl {
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation-dropdown-sublist {

    .nav-link {
        @media screen and (max-width: 768px) {
            display: flex;
            justify-content: space-between;
            font-size: 16px !important;
            line-height: 20px !important;
            color: #757575 !important;
            font-weight: 500 !important;
        }
    }
}
/* EO Mobile Nav */
