.page-pagination {
    width: 100%;

    li:nth-child(2) { margin: 0 auto 0 0; }
    li:nth-last-child(2) { margin: 0 0 0 auto; }
    .page-link { color: $color-primay; }
}

.pagination {
    .page-link {
      padding: 0px !important;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        margin: 0 8px;
    }
}
.dis{
  display: none;
}

.pag-link.disabled {
  span svg {
    opacity: 0.1;
  }
}
