.page-pagination {
    width: 100%;

    li:nth-child(2) { margin: 0 auto 0 0; }
    li:nth-last-child(2) { margin: 0 0 0 auto; }
    .page-link { color: $color-primay; } 
}

.pagination {
    .page-link {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        margin: 0 8px;
    }
}