$navImageSize: 70px;
.product-image-carousel {
    @extend .product-carousel;
    padding: 32px 0;
    display: flex;
    flex-direction: row-reverse;
    min-height: 630px;

    &_main {
        flex: 1 0 auto;
        width: 100%;
        max-width: calc(100% - #{$navImageSize});
        
        img { width: 100%; }
    }
    &_nav { flex: 1 0 auto; }

    .slick-slider,
    .slick-list,
    .slick-track { height: 100%; }
    .slick-track { display: flex !important; }
    
    .slick-slide {
        height: inherit !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .slick-dots { bottom: 5%; }
}

.image-carousel-nav {
    &_item {
        display: block;
        width: $navImageSize;
        height: $navImageSize;
        padding: 12px;
        margin: 0 0 10px;
        background: #F2F5F7;
        border-radius: 12px;

        img { width: 100%; }
    }
}