/* Search block general */
.search-block {
    position: relative;
    margin: 0 0 0 auto;

    &.expanded {
        .input-group:after { display: block; }
    }
    .search {
        display: none;
        @media screen and (min-width: 992px ) {
            display: block;
        }
    }
    
    .search[aria-expanded="true"] {
        .input-group:after {
            display: block;
        }
    }
    .input-group {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 18px;
            width: 16px;
            height: 16px;
            background: url('./../svg/search.svg') no-repeat;
            z-index: 4;
        }
        &:after {
            content: '';
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(100% - 15px);
            width: 16px;
            height: 16px;
            background: url('./../svg/close.svg') no-repeat 50% 50%;
            background-size: 10px;
            filter: invert(1);
            cursor: pointer;
        }
    }
    .form-control {
        padding: 0.375rem 0.75rem 0.375rem 2.5rem;
        background: transparent;
        color: #E0ECFD;
        background: rgba(193, 217, 252, 0.08);
        border: 1px solid rgba(234, 238, 242, 0.12);
        backdrop-filter: blur(12px);
        border-radius: 8px;
        height: 40px;

        @include placeholder { color: #E0ECFD; }
    }
    .list-group.vbt-autcomplete-list {
        top: calc(100% + 22px);
        padding: 0;
        border-radius: 0px 0px 16px 16px;

        .vbt-matched-text { color: $color-primay; }
    }
    .list-group-item {
        padding: 10px 20px;
        border: 0;

        @media screen and (max-width: 768px ) {
            padding: 10px 0;
        }

        &:first-child {
             padding: 20px 20px 10px;

             @media screen and (max-width: 768px ) {
                padding: 20px 0 10px;
            }
         }
        &:last-child { 
            padding: 10px 20px 20px;

            @media screen and (max-width: 768px ) {
                padding: 10px 0 20px;
            }
         }
    }
    .special-highlight-class { color: $color-primay; }
    .list-group-item-action {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.015em;
        color: rgba($color-primay, 0.5);
        font-weight: 700;

        &:hover,
        &:focus {
            background: #F7F7F7;
        }
    }
    .search-item-image {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        background: #F2F5F7;
        border-radius: 6px;
    }
    .search-item-title { margin: 0 0 0 10px; }

    @media screen and (min-width: 992px) {
        margin: 0 20px 0 auto;
    }
    
}
/* EO Search block general */

/* Search block expanded */
.header {
    .header-inner.header-inner-expanded-search {
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: white;
            height: 100vh;
            display: block;
        }
        @media screen and (min-width: 768px) {
            &:after {
                display: none;
            }
        }
        .header-inner--logo { 
            display: none;
            @media screen and (min-width: 768px) {
                display: block;
            }
        }
        .header-utils {
            display: none;
            @media screen and (min-width: 768px) {
                display: block;
            }
        }
        .search {
            display: block;
            max-width: auto;
        }
        .navigation {
            position: absolute;
            display: none;
        }
        .search-block {
            width: 100%;
            max-width: 100%;

            .form-control { margin: 0 20px 0 0; }

            @media screen and (max-width: 767.98px) {
                .list-group {
                    box-shadow: none !important;
                    left: -15px!important;
                    width: calc(100% + 30px)!important;
                    max-height: 100vh;
                }
                .input-group { padding: 0 5px; }
            }
            .list-group-item {
                padding: 10px 0 10px 20px;
            }
            @media screen and (min-width: 768px) {
                max-width: 632px;
                .search { margin: 0 40px 0 20px; }
            }
            @media screen and(min-width: 992px) {
                margin: 0;
            }
            .navigation-item-arrow {
                margin: 0 20px 0 auto;
                svg path {
                    stroke: #000;
                }
                @media screen and(min-width: 768px) {
                    display: none;
                }
            }
        }
    }
}
/* Search block exp[anded */


/* Search block toggler */
.search-block-toggler {
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0;
    background: transparent;
    border: none;
}
/* EO Search block toggler */
