$slider-bg: #E5E5E5;
$slider-connect-bg: #257BF4;
$slider-connect-bg-disabled: #9CA3AF;
$slider-height: 3px;
$slider-vertical-height: 300px;
$slider-radius: 9999px;

$slider-handle-bg: #fff;
$slider-handle-border: 0;
$slider-handle-width: 16px;
$slider-handle-height: 16px;
$slider-handle-radius: 9999px;
$slider-handle-shadow: inset 0 0 0 3px #257BF4;
$slider-handle-shadow-active: 0.5px 0.5px 2px 1px rgba(37, 123, 244, 0.4);
$slider-handle-ring-width: 3px;
$slider-handle-ring-color: rgba(37, 123, 244, 0.15);

$slider-tooltip-bg: #257BF4;
$slider-tooltip-bg-disabled: #9CA3AF;
$slider-tooltip-color: #fff;
$slider-tooltip-radius: 5px;
$slider-tooltip-min-width: 20px;
$slider-tooltip-font-size: 0.875rem;
$slider-tooltip-line-height: 1.25rem;
$slider-tooltip-font-weight: 600;
$slider-tooltip-py: 2px;
$slider-tooltip-px: 6px;
$slider-tooltip-arrow-size: 5px;
$slider-tooltip-distance: 3px;