.checkout {
    &-row {
        margin-top: 32px;
        margin-bottom: 56px;
    }

    &-ttl {
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: #9EA0A1;
        margin-top: 25px;
    }

    &-input {
        label {
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: #9EA0A1;
            margin-bottom: 4px;
        }

        .form-control {
            background: #F2F5F7;
            border: 1px solid #EAEDF2;
            border-radius: 8px;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #1A232B;
            padding: 16px;
            height: 48px;
        }

        &--phone {
            .country-selector,
            .country-selector__input,
            .input-tel__input {
                height: 48px !important;
                background: #F2F5F7 !important;
                border-radius: 8px !important;
                border: none !important;
            }

            .vue-phone-number-input .select-country-container {
                width: 68px;
                min-width: 68px;
                flex: 0 0 68px !important;
                width: 68px !important;
                min-width: 68px !important;
                max-width: 68px !important;
                margin-right: 10px;
                pointer-events: none;
            }

            .input-tel__input {
                border-top-left-radius: 8px !important;
                border-bottom-left-radius: 8px !important;

                &::placeholder {
                    color: #1A232B;
                }
            }

            .country-selector__toggle {
                display: none !important;
            }

            .country-selector__toggle__arrow {
                color: #257BF4 !important;
                transform: scale(0.8);

                path.arrow {
                    fill: #257BF4 !important;
                }
            }

            .country-selector__country-flag {
                top: 25px !important;
            }

            .country-selector__label {
                display: none;
            }

            .country-selector__input {
                padding-right: 0 !important;
                font-size: 14px !important;
                font-weight: 500 !important;
                padding-left: 0 !important;
                padding-top: 0 !important;
                text-align: center;
            }
        }
    }

    &-select {
        label {
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: #9EA0A1;
            margin-bottom: 4px;
        }

        .custom-select {
            background: #F2F5F7;
            border: 1px solid #EAEDF2;
            border-radius: 8px;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #1A232B;
            padding: 16px;
            height: 48px;
        }
    }

    &-select {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            bottom: 16px;
            right: 16px;
            background: url('./../svg/arrow-right.svg') no-repeat 50% 50%;
            transform: rotate(90deg);
            pointer-events: none;
        }
    }

    &-checkbox {
        margin: 30px 0 0;
        @media (min-width: 768px) {
            margin: 90px 0 0;
        }
    }

    &-btns {
        margin: 30px 0 80px;
        button {
            margin-bottom: 15px;
            @media (min-width: 576px) {
                margin: 0 15px 0 0;
            }
        }
        .btn-primary {
            margin-right: 15px;
            min-width: 200px;
        }

        .btn-outline-primary {
            min-width: 200px;
        }

        .btn {
            @media (max-width: 768px) {
                width: 100%;
            } 
        }
    }

    &-back {
        position: absolute;
        top: 120px;

        @media (max-width: 768px) {
            top: 95px;
        }
    }

    &-finish {
        &-ttl {
            margin-top: 160px;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
            text-align: center;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                margin-top: 60px;
                font-size: 26px;
                line-height: 1;
            }
        }

        &-txt {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #9EA0A1;
            max-width: 680px;
            margin: 0 auto;
            text-align: center;
        }

        &-input {
            max-width: 520px;
            margin: 80px auto 160px;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @media (max-width: 768px) {
                flex-direction: column;
                margin: 40px auto 100px;
                align-items: center;
            }

            .btn {
                height: 48px;
                min-width: 200px;
                margin-left: 16px;

                @media (max-width: 768px) {
                    min-width: 245px;
                    margin-top: 10px;
                    margin-left: 0;
                }
            }
        }

        &-btn {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 200px;

            @media (max-width: 768px) {
                margin-bottom: 100px;
            }

            .btn {
                line-height: 25px;
            }
        }
    }
}

.container .checkout-input.checkout-input--phone .input-tel.input-phone-number .input-tel__input {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}