.merch {
    &-main { 
        padding: 90px 0;

        @media (max-width: 768px) {
            padding: 45px 0; 
        }
    }
    &-info { padding: 0 0 42px; }
    &-info-available { margin: 0 0 10px; }
    &-section { padding: 60px 0 16px; }
    &-widgets { 
        padding: 140px 0 0;

        @media (max-width: 768px) {
            padding: 70px 0 0; 
        }
    }
    &-ttl { 
        color: #0D1115;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.4;
    }
    &-descr {
        color: #42484F;
        h4 {
            color: #0D1115;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
        }
        p {
            font-size: 14px;
            line-height: 1.4;
            margin: 0 0 20px;
        }
    }
    &-row-group {
        margin: 0 0 16px;
        padding: 0;
        .merch-row {
            width: 100%;
        }
    }
}
.merch-name {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.16;
    text-transform: uppercase;
}

/* Product attributes */
.merch-group {
    margin: 30px 0 60px;
    
    &-item {
        label {
            font-size: 12px;
            line-height: 1.2;
            color: #6D6D6D;
        }
        select {
            font-size: 14px;
            color: #1A232B;
            background: #F2F5F7 url('./../svg/arrow-down.svg') right 0.75rem center no-repeat;
            border: 1px solid #EAEDF2;
            cursor: pointer;
            height: 48px;
            border-radius: 8px;
        }

        .b-form-spinbutton {
            height: 48px;
            border: 0;
            background: #F2F5F7;
            border: 1px solid #EAEDF2;
            border-radius: 8px;

            .btn {
                height: 48px;

                svg {
                    transform: none;
                }
            }

            output {
                border: 0 !important;
            }
        }
    }
}
/* EO Product attributes*/

/* Product buttons */
.merch-btns {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
        align-items: flex-start;
    }

    &-inner {
        width: 198px;
        margin-right: 10px;

        a {
            display: inline-block;
            line-height: 40px;
        }
    }

    button {
        margin: 0;
        width: 100%;
        max-width: 320px;

        &:not(:last-of-type) { margin: 0 0 16px; }
    }
}
/* EO Product buttons */

@media (min-width: 576px) {
    .merch-info-available { display: flex; }

    .merch-btns {
        flex-direction: row;
        align-items: flex-start;

        button {
            max-width: 198px;
            &:not(:last-of-type) { margin: 0 16px 0 0; }
         }
     }
     .merch {
        &-row-group {
            display: flex;
            flex-wrap: wrap;
            .merch-row {
                flex: 1 0 auto;
                width: 100%;
                max-width: calc(50% - 8px);
    
                &:nth-of-type(2n+1) {
                    margin: 0 16px 0 0;
                }
            }
        }
    }
}


@media (min-width: 768px) { 
    .merch-group {
        display: flex;

        &-item {
            flex: 1 0 calc(33.3333% - 32px);
            &:not(:last-of-type) { margin-right: 16px; }
        }
    }
 }

 @media (min-width: 992px) { 
    .merch-btns {
        button {
            &:not(:last-of-type) { margin: 0 16px 0 0; }
         }
     }
  }

/* Product info attributes */
.merch {
    &-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #EAEEF2;
        padding: 18px 0 8px;

        &-name {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.4;
            color: rgba($color-primay, .4);
        }

        &-item {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.4;
        }
    }
}
/* EO Product info attributes */